<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.zjut.edu.mapper.MessageCustomMapper">
  <resultMap id="BaseResultMap" type="cn.zjut.edu.dto.Message">
    <id column="messageId" jdbcType="INTEGER" property="messageId" />
    <result column="stuName" jdbcType="VARCHAR" property="stuName" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="mTime" jdbcType="TIMESTAMP" property="mTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="cn.zjut.edu.dto.Message">
    <result column="content" jdbcType="LONGVARCHAR" property="content" />
  </resultMap>
  <sql id="Base_Column_List">
    messageId, stuName, email, mTime
  </sql>
  <sql id="Blob_Column_List">
    content
  </sql>
  <select id="selectAllMessages"  resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from message
    order by mTime desc
  </select>
  <select id="selectMessageNum"  resultType="java.lang.Integer">
    select
    count(messageId)
    from message
  </select>
</mapper>